@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&family=Poppins:wght@200;300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&family=Poppins:wght@200;300;500;600&family=Roboto:ital,wght@1,100&family=Silkscreen&display=swap');



html, body {
    max-width: auto;
    max-height: auto;
   background-color: #000000; 
    padding: 0;
    margin: 0;
    font-family: 'Silkscreen', sans-serif;
    overflow: hidden; 
}


#startScreen {
    background-image: url('background1.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    margin-top: 5%;
    display: flex;
    justify-content:center;
    display: list-item;
    align-items:center;
  }


#startBtn{
    border: none;
    padding: 0;
    padding-bottom: 5px;
    background: none;
    font-family: 'Silkscreen', sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-top: 320px;
    color: rgb(255, 251, 0);
    text-shadow: #000000 1px 5px 2px;
    animation:blink 0.8s linear infinite;
}

@keyframes blink {
    0%{ opacity:  1;}
    50%{ opacity:  0;}
    100%{ opacity:  1;}
}


#btnContainer{
    padding: 10px;
    padding-bottom: 20px;
    position:relative;
    text-align:center;
}

#btnContainer #left{
    display: inline-block;
    margin: 10px;

}

#startBtn:hover{
    transform: scale(1.1) translateX(-5px);
    color: white;
}

#aboutBtn:hover{
    transform: scale(1.1) translateX(-5px);
    color: yellow;
}

#playPauseBTN:hover{
    transform: scale(1.1) translateX(-5px);
    color: yellow;
}


/* #mazeContainer {
    display: none;
} */

#aboutBtn{
    border: none;
    padding: 0;
    padding-bottom: 5px;
    background: none;
    font-family: 'Silkscreen', sans-serif;
    font-size: 1rem;
    text-transform: capitalize;   
    margin-right: 10px;
}

#audio{
    border: none;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1rem;
    
}

#playPauseBTN{
    border: none;
    padding: 0;
    padding-bottom: 5px;
    background: none;
    font-family: 'Silkscreen', sans-serif;
    font-size: 1rem;
    text-transform: capitalize; 
}

/* #startBtn:hover{

    background-color: #F2C250;
    box-shadow: 0 0 5px #F2C250,
    0 0 25px #F2C250, 0 0 50px #F2C250,
    0 0 100px #F2C250, 0 0 200px #F2C250;
} */
  
#view {
    margin-top: 30px;
}


#mazeContainer {
    top: 15px;
    opacity: 0;
    display: inline-block;
    margin: auto;
    border-radius: 10px;
    background-image: url(floor.jpg);
}

#mazeContainer #mazeCanvas {
    margin: 0;
    display: block;
    border: solid 4px rgb(105, 74, 8);
    height: 400px;
    
}
input, select {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.30);
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
   
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
}
input:hover, select:hover {
	background-color: rgba(0, 0, 0, 0.70);
}
input:active, select:active {
	background-color: black;
}
input:focus, select:focus {
	outline: none;
}
.custom-select {
	display: inline-block;
}
.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: 125px center;
}
#Message-Container {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 1;
}
#Message-Container #message {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}
#page {
	text-align: center;
	height: auto;
	width: auto;
	margin: auto;
}
#page #menu {
    margin: auto;
    padding: 10px;
    height: 65px;
    box-sizing: border-box;
}
#page #menu h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 3.2rem;
}
#page #view {
    position: relative; 
    
}

.border {
    border: 10px black solid;
    border-radius: 10px;
}

#instructions {
    margin-top: 100px;
}
 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 640px) {
	input, select {
	    width: 120px;
	}
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
    background-color: #c0c0c0;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#startMazeBtn{
    font-family: 'Silkscreen', sans-serif;
}

#backbtn{
    font-family: 'Silkscreen', sans-serif;
}

#diffSelect {
    font-family: 'Silkscreen', sans-serif;
}

#startMazeBtn:hover{
    transform: scale(1.1) translateX(-5px);
    color: yellow;
    text-decoration: underline;
}

#backbtn:hover{
    transform: scale(1.1) translateX(-5px);
    color: yellow;
    text-decoration: underline;
}

#diffSelect:hover{
    transform: scale(1.1) translateX(-5px);
    color: yellow;
    text-decoration: underline;
}
